/* data tables */
.table--header_row{
    padding: 2px;
}

.table--header,
.table--data{
    border: 0.5px solid #343536;
    padding: 6px;
    overflow: hidden;
    white-space: nowrap;
    margin: 1%;
}

.container{
    border-collapse: collapse;
    width: max-content;
    margin: 0 3vw;
    table-layout: auto;
    position: relative;
}

.table_button{
    margin: 2vh 1vw 0 0;
}


/* button */

.btn-dark{
    margin: 1px;
}


.btn-row{
    display: contents;
}


#app{
    
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
      
}